# --- Core Earth Engine and geospatial tools ---
earthengine-api
geemap
leafmap
localtileserver

# --- Geo-data and raster tools ---
geopandas
rasterio>=1.4.2
fiona
shapely
pyproj
scikit-image

# --- Math & plotting ---
numpy
pandas
matplotlib

# --- App framework & utilities ---
streamlit
psutil
pyyaml
